server:
  port: 8090
logging:
  level:
    org.springframework.cloud: DEBUG
    org.springframework.cloud.gateway: DEBUG
    org.springframework.cloud.gateway.route.RouteDefinitionLocator: DEBUG


spring:
  application:
    name: gateway-service
  profiles:
    active: dev